In [1]:
import zipfile

import numpy as np
import pandas as pd
# !pip install xlrd==1.2.0
# Make sure to restart runtime after installing this if necessary!

import matplotlib.pyplot as plt
import seaborn as sns

import os
# from google.colab import drive
# drive.mount("/content/drive", force_remount=False)
# path = "/content/drive/MyDrive/DABP Project/Data/"

# Air quality
## Importing data
### Trying to extract AQ zips directly from Drive

In [2]:
zipfile.is_zipfile('../04 - Data/Raw_Data/annual_aqi_by_county_1998.zip/annual_aqi_by_county_1998.csv')

False

In [3]:
zipfile.is_zipfile('../04 - Data/Raw_Data/annual_aqi_by_county_1998.zip')

False

Welp, that didn't work!

### Extracting already-unzipped files

In [4]:
# Previewing a single year's DataFrame
# Unzip the Air Quality Data.zip folder first
pd.read_csv('../04 - Data/Raw_Data/Air Quality Data/Air Quality Data/annual_aqi_by_county_1998/annual_aqi_by_county_1998.csv')
# May need to change path depending on how you unzip the folder

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,Calhoun,1998,44,43,1,0,0,0,0,51,38,23,0,0,0,0,44
1,Alabama,Clay,1998,213,99,83,21,10,0,0,185,115,54,0,0,213,0,0
2,Alabama,Colbert,1998,48,48,0,0,0,0,0,41,32,20,0,0,0,0,48
3,Alabama,DeKalb,1998,363,215,84,45,17,2,0,205,129,46,0,0,357,0,6
4,Alabama,Elmore,1998,211,129,62,14,5,1,0,203,100,47,0,0,211,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
966,Wyoming,Platte,1998,61,59,2,0,0,0,0,70,32,15,0,0,0,0,61
967,Wyoming,Sheridan,1998,256,223,32,1,0,0,0,104,53,27,0,0,0,27,229
968,Wyoming,Sublette,1998,362,225,133,4,0,0,0,101,74,49,0,0,361,1,0
969,Wyoming,Sweetwater,1998,62,56,6,0,0,0,0,70,45,25,0,0,0,0,62
970,Wyoming,Teton,1998,360,313,47,0,0,0,0,97,54,42,0,0,348,2,10

In [5]:
# Add all years' data to dict
aq_dict = dict()
for year in range(1998,2022):
  aq_dict[year] = pd.read_csv(os.path.join(f'../04 - Data/Raw_Data/Air Quality Data/Air Quality Data/annual_aqi_by_county_{year}/annual_aqi_by_county_{year}.csv'
  ))

In [6]:
# Preview AZ 2000 (a state w/ only a few counties)
aq_dict[2000][
  aq_dict[2000].State == 'Arizona'
]

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
28,Arizona,Apache,2000,69,69,0,0,0,0,0,45,28,15,0,0,0,69,0
29,Arizona,Cochise,2000,354,230,118,6,0,0,0,132,80,46,0,0,327,13,14
30,Arizona,Coconino,2000,364,227,132,5,0,0,0,126,80,47,0,0,352,12,0
31,Arizona,Gila,2000,151,116,35,0,0,0,0,84,68,32,0,0,0,124,27
32,Arizona,Graham,2000,42,39,3,0,0,0,0,70,41,24,0,0,0,0,42
33,Arizona,Maricopa,2000,366,21,178,148,19,0,0,174,136,97,1,118,193,33,21
34,Arizona,Mohave,2000,62,54,8,0,0,0,0,65,51,31,0,0,0,2,60
35,Arizona,Navajo,2000,120,120,0,0,0,0,0,37,25,12,0,0,0,84,36
36,Arizona,Pima,2000,366,175,168,23,0,0,0,136,90,51,4,53,227,5,77
37,Arizona,Pinal,2000,120,107,12,1,0,0,0,123,52,32,0,0,0,120,0
38,Arizona,Santa Cruz,2000,60,32,26,2,0,0,0,106,82,50,0,0,0,40,20
39,Arizona,Yavapai,2000,354,197,129,27,1,0,0,151,97,48,0,0,347,4,3
40,Arizona,Yuma,2000,206,179,27,0,0,0,0,93,56,38,0,0,170,0,36

## Aggregating air quality data

In [7]:
# Previewing the data again
aq_dict[2000][
  aq_dict[2000].State == 'Nevada'
]

,State,County,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
569,Nevada,Carson City,2000,366,281,85,0,0,0,0,97,67,44,38,0,328,0,0
570,Nevada,Clark,2000,366,78,232,54,1,0,1,404,112,67,4,28,215,64,55
571,Nevada,Douglas,2000,366,252,109,5,0,0,0,140,77,45,29,0,334,3,0
572,Nevada,Elko,2000,243,233,10,0,0,0,0,66,43,17,0,0,0,36,207
573,Nevada,Lander,2000,344,336,6,1,1,0,0,154,30,16,0,0,0,0,344
574,Nevada,Washoe,2000,366,231,132,3,0,0,0,107,78,47,31,8,294,21,12
575,Nevada,White Pine,2000,349,235,102,12,0,0,0,129,84,45,0,0,347,2,0

In [22]:
# Printing out column list
aq_dict[2000].columns

Index(['State', 'County', 'Year', 'Days with AQI', 'Good Days',
       'Moderate Days', 'Unhealthy for Sensitive Groups Days',
       'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days PM2.5', 'Days PM10'],
      dtype='object')

In [23]:
# Testing a loop operation for a single state year
aq_dict[2000][
  aq_dict[2000].State == 'Nevada'
][[
  'State', 'Year', 'Days with AQI', 'Good Days',
  'Moderate Days', 'Unhealthy for Sensitive Groups Days',
  'Unhealthy Days', 'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
  '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
  'Days Ozone', 'Days PM2.5', 'Days PM10'
]].groupby('State', as_index=False).agg({
  'Year':'mean', 'Days with AQI':'mean', 'Good Days':'mean',
  'Moderate Days':'mean', 'Unhealthy for Sensitive Groups Days':'mean',
  'Unhealthy Days':'mean', 'Very Unhealthy Days':'mean', 'Hazardous Days':'mean', 'Max AQI':'max',
  '90th Percentile AQI':'mean', 'Median AQI':'mean', 'Days CO':'mean', 'Days NO2':'mean',
  'Days Ozone':'mean', 'Days PM2.5':'mean', 'Days PM10':'mean'
})

,State,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Nevada,2000.0,342.857143,235.142857,96.571429,10.714286,0.285714,0.0,0.142857,404,70.142857,40.142857,14.571429,5.142857,216.857143,18.0,88.285714

In [24]:
# Initialize list for later concatenation
year_aq_list = list()

# Aggregate each year 
for year in aq_dict.keys():
  year_aq_list.append(
    aq_dict[year].drop(columns='County').groupby('State', as_index=False).agg({
      'Year':'mean', 'Days with AQI':'mean', 'Good Days':'mean',
      'Moderate Days':'mean', 'Unhealthy for Sensitive Groups Days':'mean',
      'Unhealthy Days':'mean', 'Very Unhealthy Days':'mean',
      'Hazardous Days':'mean', 'Max AQI':'max', '90th Percentile AQI':'mean',
      'Median AQI':'mean', 'Days CO':'mean', 'Days NO2':'mean',
      'Days Ozone':'mean', 'Days PM2.5':'mean', 'Days PM10':'mean'
    })
  )

# Concatenate years into a single df
stateyear_aq = pd.concat(year_aq_list).sort_values(['Year','State'])

# Preview result
stateyear_aq.head()

,State,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,1998.0,151.080000,105.760000,31.120000,10.160000,3.480000,0.560000,0.000000,216,67.560000,32.960000,4.080000,0.360000,96.400000,2.800000,47.440000
1,Alaska,1998.0,217.800000,187.600000,29.200000,0.800000,0.200000,0.000000,0.000000,164,46.400000,24.200000,65.000000,0.000000,70.400000,0.800000,81.600000
2,Arizona,1998.0,225.300000,117.200000,85.100000,19.700000,3.200000,0.100000,0.000000,268,81.300000,44.600000,2.600000,12.500000,160.700000,16.300000,33.200000
3,Arkansas,1998.0,360.000000,264.000000,74.800000,19.000000,2.200000,0.000000,0.000000,168,83.600000,39.200000,15.000000,7.600000,326.000000,9.000000,2.400000
4,California,1998.0,329.214286,220.428571,65.089286,26.732143,12.392857,4.464286,0.107143,1360,99.821429,42.464286,7.571429,60.089286,243.607143,5.160714,12.785714

In [25]:
stateyear_aq.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1305 entries, 0 to 53
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   State                                1305 non-null   object
 1   Year                                 1305 non-null   float64
 2   Days with AQI                        1305 non-null   float64
 3   Good Days                            1305 non-null   float64
 4   Moderate Days                        1305 non-null   float64
 5   Unhealthy for Sensitive Groups Days  1305 non-null   float64
 6   Unhealthy Days                       1305 non-null   float64
 7   Very Unhealthy Days                  1305 non-null   float64
 8   Hazardous Days                       1305 non-null   float64
 9   Max AQI                              1305 non-null   int64
 10  90th Percentile AQI                  1305 non-null   float64
 11  Median AQI                           1305 non-null   float64
 12  Days CO                              1305 non-null   float64
 13  Days NO2                             1305 non-null   float64
 14  Days Ozone                           1305 non-null   float64
 15  Days PM2.5                           1305 non-null   float64
 16  Days PM10                            1305 non-null   float64
dtypes: float64(15), int64(1), object(1)
memory usage: 183.5+ KB

In [26]:
# Seeing what years are in the data
stateyear_aq.Year.unique()

array([1998., 1999., 2000., 2001., 2002., 2003., 2004., 2005., 2006.,
       2007., 2008., 2009., 2010., 2011., 2012., 2013., 2014., 2015.,
       2016., 2017., 2018., 2019., 2020., 2021.])

## Building features

In [27]:
stateyear_aq.head()

,State,Year,Days with AQI,Good Days,Moderate Days,Unhealthy for Sensitive Groups Days,Unhealthy Days,Very Unhealthy Days,Hazardous Days,Max AQI,90th Percentile AQI,Median AQI,Days CO,Days NO2,Days Ozone,Days PM2.5,Days PM10
0,Alabama,1998.0,151.080000,105.760000,31.120000,10.160000,3.480000,0.560000,0.000000,216,67.560000,32.960000,4.080000,0.360000,96.400000,2.800000,47.440000
1,Alaska,1998.0,217.800000,187.600000,29.200000,0.800000,0.200000,0.000000,0.000000,164,46.400000,24.200000,65.000000,0.000000,70.400000,0.800000,81.600000
2,Arizona,1998.0,225.300000,117.200000,85.100000,19.700000,3.200000,0.100000,0.000000,268,81.300000,44.600000,2.600000,12.500000,160.700000,16.300000,33.200000
3,Arkansas,1998.0,360.000000,264.000000,74.800000,19.000000,2.200000,0.000000,0.000000,168,83.600000,39.200000,15.000000,7.600000,326.000000,9.000000,2.400000
4,California,1998.0,329.214286,220.428571,65.089286,26.732143,12.392857,4.464286,0.107143,1360,99.821429,42.464286,7.571429,60.089286,243.607143,5.160714,12.785714

In [28]:
# Make a feature-specific DataFrame
aq_feat = stateyear_aq[[
  'State','Year'
]].copy()

In [29]:
stateyear_aq.columns

Index(['State', 'Year', 'Days with AQI', 'Good Days', 'Moderate Days',
       'Unhealthy for Sensitive Groups Days', 'Unhealthy Days',
       'Very Unhealthy Days', 'Hazardous Days', 'Max AQI',
       '90th Percentile AQI', 'Median AQI', 'Days CO', 'Days NO2',
       'Days Ozone', 'Days PM2.5', 'Days PM10'],
      dtype='object')

In [30]:
# Looping previous years' AQ data into feature columns
for col in stateyear_aq.columns[2:]:
  aq_feat.loc[:,f'Prev {col}'] = stateyear_aq.loc[:,col].copy()

# Add a knowledge year for these "previous AQ" features
aq_feat.loc[:,'Knowledge Year'] = aq_feat.Year + 1

# Make knowledge year the default year index
aq_feat.drop(columns = 'Year', inplace=True)
aq_feat.rename(columns={'Knowledge Year':'Year'}, inplace=True)

In [31]:
aq_feat[
  aq_feat.State == 'Alabama'
].head()

,State,Prev Days with AQI,Prev Good Days,Prev Moderate Days,Prev Unhealthy for Sensitive Groups Days,Prev Unhealthy Days,Prev Very Unhealthy Days,Prev Hazardous Days,Prev Max AQI,Prev 90th Percentile AQI,Prev Median AQI,Prev Days CO,Prev Days NO2,Prev Days Ozone,Prev Days PM2.5,Prev Days PM10,Year
0,Alabama,151.080000,105.760000,31.120000,10.160000,3.480000,0.560000,0.0,216,67.560000,32.960000,4.080000,0.360000,96.400000,2.800000,47.440000,1999.0
0,Alabama,184.238095,79.238095,78.904762,20.000000,5.666667,0.428571,0.0,273,93.142857,51.666667,2.333333,0.000000,95.285714,68.809524,17.809524,2000.0
0,Alabama,201.090909,87.590909,86.727273,22.681818,3.772727,0.318182,0.0,214,95.818182,52.727273,1.909091,0.863636,110.136364,77.636364,10.545455,2001.0
0,Alabama,219.000000,125.761905,79.571429,11.380952,1.904762,0.380952,0.0,265,80.523810,45.571429,3.238095,0.285714,127.666667,78.000000,9.809524,2002.0
0,Alabama,238.818182,148.818182,74.909091,13.090909,1.909091,0.090909,0.0,207,79.636364,42.909091,2.409091,1.090909,146.363636,77.590909,11.363636,2003.0

In [89]:
# 5-year rolling average for each state
aq_5yr_avg = aq_feat.sort_values('Year').groupby('State', as_index=False).rolling(5, min_periods=1).mean().drop(columns='Year')

# Renaming the rolling avg columns
newcolnames = list()
for col in aq_5yr_avg.columns:
  newcolnames.append('5 Year Avg ' + col[5:])
aq_5yr_avg.columns = newcolnames

In [91]:
aq_5yr_avg.head()

,5 Year Avg,5 Year Avg Days with AQI,5 Year Avg Good Days,5 Year Avg Moderate Days,5 Year Avg Unhealthy for Sensitive Groups Days,5 Year Avg Unhealthy Days,5 Year Avg Very Unhealthy Days,5 Year Avg Hazardous Days,5 Year Avg Max AQI,5 Year Avg 90th Percentile AQI,5 Year Avg Median AQI,5 Year Avg Days CO,5 Year Avg Days NO2,5 Year Avg Days Ozone,5 Year Avg Days PM2.5,5 Year Avg Days PM10
0,Alabama,151.080000,105.760000,31.120000,10.160000,3.480000,0.560000,0.0,216.000000,67.560000,32.960000,4.080000,0.360000,96.400000,2.800000,47.440000
0,Alabama,167.659048,92.499048,55.012381,15.080000,4.573333,0.494286,0.0,244.500000,80.351429,42.313333,3.206667,0.180000,95.842857,35.804762,32.624762
0,Alabama,178.803001,90.863001,65.584012,17.613939,4.306465,0.435584,0.0,234.333333,85.507013,45.784646,2.774141,0.407879,100.607359,49.748629,25.264993
0,Alabama,188.852251,99.587727,69.080866,16.055693,3.706039,0.421926,0.0,242.000000,84.261212,45.731342,2.890130,0.377338,107.372186,56.811472,21.401126
0,Alabama,198.845437,109.433818,70.246511,15.462736,3.346649,0.355723,0.0,235.000000,83.336242,45.166892,2.793922,0.520052,115.170476,60.967359,19.393628

In [92]:
print(f'{len(aq_feat)} and {len(aq_5yr_avg)}')

1305 and 1305

In [93]:
# Concatenating feature DataFrames
aq_features = pd.concat(
  [
    aq_feat.sort_values(['State','Year']).reset_index(),
    aq_5yr_avg.reset_index()
  ], axis=1
)

In [94]:
aq_features.head()

,index,State,Prev Days with AQI,Prev Good Days,Prev Moderate Days,Prev Unhealthy for Sensitive Groups Days,Prev Unhealthy Days,Prev Very Unhealthy Days,Prev Hazardous Days,Prev Max AQI,...,5 Year Avg Very Unhealthy Days,5 Year Avg Hazardous Days,5 Year Avg Max AQI,5 Year Avg 90th Percentile AQI,5 Year Avg Median AQI,5 Year Avg Days CO,5 Year Avg Days NO2,5 Year Avg Days Ozone,5 Year Avg Days PM2.5,5 Year Avg Days PM10
0,0,Alabama,151.080000,105.760000,31.120000,10.160000,3.480000,0.560000,0.0,216,...,0.560000,0.0,216.000000,67.560000,32.960000,4.080000,0.360000,96.400000,2.800000,47.440000
1,0,Alabama,184.238095,79.238095,78.904762,20.000000,5.666667,0.428571,0.0,273,...,0.494286,0.0,244.500000,80.351429,42.313333,3.206667,0.180000,95.842857,35.804762,32.624762
2,0,Alabama,201.090909,87.590909,86.727273,22.681818,3.772727,0.318182,0.0,214,...,0.435584,0.0,234.333333,85.507013,45.784646,2.774141,0.407879,100.607359,49.748629,25.264993
3,0,Alabama,219.000000,125.761905,79.571429,11.380952,1.904762,0.380952,0.0,265,...,0.421926,0.0,242.000000,84.261212,45.731342,2.890130,0.377338,107.372186,56.811472,21.401126
4,0,Alabama,238.818182,148.818182,74.909091,13.090909,1.909091,0.090909,0.0,207,...,0.355723,0.0,235.000000,83.336242,45.166892,2.793922,0.520052,115.170476,60.967359,19.393628

In [97]:
aq_features['5 Year Avg ']

0       Alabama
1       Alabama
2       Alabama
3       Alabama
4       Alabama
         ...
1300    Wyoming
1301    Wyoming
1302    Wyoming
1303    Wyoming
1304    Wyoming
Name: 5 Year Avg , Length: 1305, dtype: object

In [95]:
aq_features.columns

Index(['index', 'State', 'Prev Days with AQI', 'Prev Good Days',
       'Prev Moderate Days', 'Prev Unhealthy for Sensitive Groups Days',
       'Prev Unhealthy Days', 'Prev Very Unhealthy Days',
       'Prev Hazardous Days', 'Prev Max AQI', 'Prev 90th Percentile AQI',
       'Prev Median AQI', 'Prev Days CO', 'Prev Days NO2', 'Prev Days Ozone',
       'Prev Days PM2.5', 'Prev Days PM10', 'Year', 'index', '5 Year Avg ',
       '5 Year Avg Days with AQI', '5 Year Avg Good Days',
       '5 Year Avg Moderate Days',
       '5 Year Avg Unhealthy for Sensitive Groups Days',
       '5 Year Avg Unhealthy Days', '5 Year Avg Very Unhealthy Days',
       '5 Year Avg Hazardous Days', '5 Year Avg Max AQI',
       '5 Year Avg 90th Percentile AQI', '5 Year Avg Median AQI',
       '5 Year Avg Days CO', '5 Year Avg Days NO2', '5 Year Avg Days Ozone',
       '5 Year Avg Days PM2.5', '5 Year Avg Days PM10'],
      dtype='object')

In [98]:
# Preserving only the features I want
aq_features = aq_features.loc[:,[
  'State', 'Year', 'Prev Days with AQI', 'Prev Good Days',
  'Prev Moderate Days', 'Prev Unhealthy for Sensitive Groups Days',
  'Prev Unhealthy Days', 'Prev Very Unhealthy Days',
  'Prev Hazardous Days', 'Prev Max AQI', 'Prev 90th Percentile AQI',
  'Prev Median AQI', 'Prev Days CO', 'Prev Days NO2', 'Prev Days Ozone',
  'Prev Days PM2.5', 'Prev Days PM10',
  '5 Year Avg Days with AQI', '5 Year Avg Good Days',
  '5 Year Avg Moderate Days',
  '5 Year Avg Unhealthy for Sensitive Groups Days',
  '5 Year Avg Unhealthy Days', '5 Year Avg Very Unhealthy Days',
  '5 Year Avg Hazardous Days', '5 Year Avg Max AQI',
  '5 Year Avg 90th Percentile AQI', '5 Year Avg Median AQI',
  '5 Year Avg Days CO', '5 Year Avg Days NO2', '5 Year Avg Days Ozone',
  '5 Year Avg Days PM2.5', '5 Year Avg Days PM10'
]]

In [100]:
# Export to CSV
aq_features.to_csv('../04 - Data/Final Data/aq_features.csv')

# Urbanicity

In [32]:
# I had to install this dependency when I got an error.
# But now I have this piece run in the imports cell
#!pip install xlrd==1.2.0

# Testing import on a visually-formatted table
urb = pd.read_excel(
  '../04 - Data/Raw_Data/pop-urban-pct-historical.xls',
  sheet_name='States', skiprows=5
)

# Preview table
urb.head()

,FIPS,Area Name,1900,1910,1920,1930,1940,Unnamed: 7,1950,1960,1970,1980,1990,Unnamed: 13,2000,2010
0,00,United States,39.6,45.6,51.2,56.1,56.5,NaN,64.0,69.9,73.6,73.7,75.2,NaN,79.0,80.7
1,01,Alabama,11.9,17.3,21.7,28.1,30.2,NaN,43.8,54.8,58.6,60.0,60.4,NaN,55.4,59.0
2,02,Alaska,24.5,9.5,5.6,13.2,24.0,NaN,26.6,37.9,56.9,64.3,67.5,NaN,65.6,66.0
3,04,Arizona,15.9,31.0,36.1,34.4,34.8,NaN,55.5,74.5,79.6,83.8,87.5,NaN,88.2,89.8
4,05,Arkansas,8.5,12.9,16.6,20.6,22.2,NaN,33.0,42.8,50.0,51.6,53.5,NaN,52.5,56.2

In [33]:
urb.columns

Index([       'FIPS',   'Area Name',          1900,          1910,
                1920,          1930,          1940,  'Unnamed: 7',
                1950,          1960,          1970,          1980,
                1990, 'Unnamed: 13',          2000,          2010],
      dtype='object')

In [34]:
# Cutting unnecessary columns and renaming stuff
urb_small = urb[
  urb['Area Name'] != 'United States'
].copy().iloc[:,[
  1,-2,-1
]]
urb_small.columns = ['State','year_2000','year_2010']

# Checking to see that it worked
urb_small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 1 to 58
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   State      51 non-null     object
 1   year_2000  51 non-null     float64
 2   year_2010  51 non-null     float64
dtypes: float64(2), object(1)
memory usage: 1.8+ KB

In [35]:
# Defining imputation for urbanicity feature (with minimal data leakage)
impute_dict = {
  2000:[1998,1999,2001,2002,2003,2004,
        2005,2006,2007,2008,2009],
  2010:[2011,2012,2013,2014,2015,2016,
        2017,2018,2019,2020,2021]
}

# Imputing urbanicity data for years in data without values
for key in impute_dict.keys():
  for year in impute_dict[key]:
    urb_small.loc[:,f'year_{year}'] = urb_small[f'year_{key}']

# Stacking this df
stateyear_list = list()
for year in range(1998,2022):

  # Selecting only this year's data
  _df = urb_small[[
    'State', f'year_{year}'
  ]]

  # Renaming columns for uniformity
  _df.columns = ['state','urbanicity']

  # Adding year column
  _df.loc[:,'year'] = year

  # Appending this df to list for concatenation
  stateyear_list.append(_df)

# Concatenate these lists together while dropping nulls
stateyear_urb = pd.concat(stateyear_list).dropna()

# Preview results
stateyear_urb.info()

C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year
C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1224 entries, 1 to 51
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   state       1224 non-null   object
 1   urbanicity  1224 non-null   float64
 2   year        1224 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 38.2+ KB

C:\Users\kalat\AppData\Local\Temp\ipykernel_21304\3753089901.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _df.loc[:,'year'] = year

In [105]:
# Just making sure things look okay
stateyear_urb.groupby('year', as_index=False).tail(8)

            state  urbanicity  year
44          Texas        82.5  1998
45           Utah        88.2  1998
46        Vermont        38.2  1998
47       Virginia        73.0  1998
48     Washington        82.0  1998
..            ...         ...   ...
47       Virginia        75.5  2021
48     Washington        84.1  2021
49  West Virginia        48.7  2021
50      Wisconsin        70.2  2021
51        Wyoming        64.8  2021

[192 rows x 3 columns]

In [106]:
# Export to CSV
stateyear_urb.to_csv('../04 - Data/Final Data/urb_by_state-year.csv')